<div class="page-header">
  <h3>Bookmark #<%= @bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dishes</dt>
      <dd>
        <% if @bookmark.dishes.present? %>
          <a href="/dishes/<%= @bookmark.dishes_id %>">
            <%= @bookmark.dishes.cuisines_id %>
          </a>
        <% end %>
      </dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @bookmark.cuisine.present? %>
          <a href="/cuisines/<%= @bookmark.cuisine_id %>">
            <%= @bookmark.cuisine.cuisine_type %>
          </a>
        <% end %>
      </dd>

      <dt>Venues</dt>
      <dd>
        <% if @bookmark.venues.present? %>
          <a href="/venues/<%= @bookmark.venues_id %>">
            <%= @bookmark.venues.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookmarks" class="btn btn-primary">
        Back
      </a>
      <a href="/bookmarks/<%= @bookmark.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bookmark has many user -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User
      </li>

      <% @bookmark.user.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
