<!-- Validation failure messages -->
<% if @dish.errors.any? %>
  <% @dish.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Dish</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_dish" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cuisines_id -->
      <div class="form-group">
        <label for="cuisines_id" class="control-label">
          Cuisines
        </label>

        <input type="text" id="cuisines_id" name="cuisines_id" placeholder="Cuisines" class="form-control" value="<%= @dish.cuisines_id %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @dish.name %>">
      </div>

      <!-- Label and input for venues_id -->
      <div class="form-group">
        <label for="venues_id" class="control-label">
          Venues
        </label>

        <input type="text" id="venues_id" name="venues_id" placeholder="Venues" class="form-control" value="<%= @dish.venues_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @dish.user_id %>">
      </div>

      <button class="btn btn-success">
        Create Dish
      </button>
      or
      <a href="/dishes">Cancel</a>
    </form>
  </div>
</div>
